{% extends "accounts/base.html" %}

{% block head %}
    <title>Unión Digital | Cotizar</title>
{% endblock head %}

{% block content %}
    {% load static %}
    
    <form  method="POST" action="{% url 'projects:create_project' %}" class="form form-long animate__animated animate__zoomIn form-slash-efect">
        <img src="{% static 'logos/3.jpg' %}" alt="logo">
        {% csrf_token %}
        <div style="display: block; height: 100px;"></div>
        <div class="slash-efect slash-efect-show">
            <input class="form-control" type="text" placeholder="Nombres" name="customer_name" >
            <input class="form-control" type="text" placeholder="Telefono" name="customer_phone" >            
            <input class="form-control" type="text" placeholder="Título De La Propueta" name="title">
            <input class="form-control" type="date" placeholder="Fecha De Comienzo" name="start_date">
            <input class="form-control" type="date" placeholder="Fecha De Finalización" name="finish_date">
        </div>
        <div class="slash-efect slash-efect-hidde-right">
        <input class="form-control" type="text" placeholder="Presupuesto" name="budget">
            <textarea class="form-control" placeholder="Detalles" name="detail"></textarea>
        </div>
        <span id="left" style="color:#f75c03;font-size: 30px; display: block;cursor:pointer; position: absolute;left:15%; bottom: 25px;" >
            <i class="fas fa-angle-left"></i>
        </span>
        <span id="right" style="color:#f75c03;font-size: 30px; display: block;cursor:pointer; position: absolute;left:25%; bottom: 25px;">
            <i class="fas fa-angle-right"></i>
        </span>
        <button type="submit" class="form-control btn-success">Cotizar</button>
    </form>
    {% if form.errors %}
    <div class="message message-error animate__animated animate__slideInDown" id="messageError">
        <div class="header">
            <span><i class="fas fa-exclamation"></i></span> 
        </div>
        <div class="body">
            {% if form.customer_name.errors %}
                <p>Nombres:</p>
                <ul>
                {% for error in form.customer_name.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                </ul>
            {% endif %}
    
            {% if form.customer_phone.errors %}
                <p>Telefono:</p>
                <ul>
                {% for error in form.customer_phone.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
            {% if form.title.errors %}
                <p>Título:</p>
                <ul>
                {% for error in form.title.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                </ul>
            {% endif %}
    
            {% if form.start_date.errors %}
                <p>Fecha De Comienzo:</p>
                <ul>
                {% for error in form.start_date.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                </ul>
            {% endif %}
    
            {% if form.finish_date.errors %}
                <p>Fecha De Finalización:</p>
                <ul>
                {% for error in form.finish_date.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
            {% if form.budget.errors %}
                <p>Presupuesto:</p>
                <ul>
                {% for error in form.budget.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if form.detail.errors %}
                <p>Detalles:</p>
                <ul>
                {% for error in form.detail.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if  form.non_field_errors  %}
                <ul style="padding: 0;margin:0">
                    <li>{{form.non_field_errors}}</li>
                </ul>
            {% endif %}
            
        </div>
        <div class="footer">
            <button id="close-message-error" >OK</button>
        </div>
    </div>
    <button class="btn-error btn-error-hidde animate__animated" id="open-message-error">
        <i class="far fa-envelope"></i>
    </button> 
    {% endif %}
{% endblock content %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/formsEffect.js' %}"></script>
{% endblock scripts %}