{% extends "base.html" %}
{% block styles %}
<style>
 .container{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: start;
    padding: 4em;
 }
 .content{
    background: white;
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    position: relative;
    border-radius: .5rem;
 }
 .content h4,h3{
   color: var(--orange);
 }
 .content .header{
    display: inline-block;
    width: 30%;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    height: 90%;
    /* background: pink; */
 }
 .content .header img{
    width: 100%;
    max-width: 150px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
 }
 .content .body{
   display: inline-block;
   width: 50%;
   height: 90%;
   margin-left: 2em;
 }
 .content .header , .body{
   padding: 1em 2em;
   -webkit-box-shadow: 0px 0px 5px 3px rgba(181,181,181,1);
   -moz-box-shadow: 0px 0px 5px 3px rgba(181,181,181,1);
   box-shadow: 0px 0px 5px 3px rgba(181,181,181,1);
 }
 .content .body .title{
   text-align: center;
 }
 .btn-success{
   background: var(--orange);
   width: 30%;
   cursor: pointer;
   color: var(--light);
 }
 .btn-success-out{
   border: 1px solid var(--orange);
   text-align: center;
   box-sizing: border-box;
   color: var(--orange);
   text-decoration: none;
   width: 30%;
   cursor: pointer;
   padding: .5rem;
   margin: 1em 0;
 }
</style>
{% endblock styles %}
{% block content %}
{% load static %}
<div class="content">
   <div class="body">
      <h4>{{project.title}}</h4>
      <p>Detalles:</p>
      <p>{{project.detail}}</p>
      {% if project.requeriments  %}
      <a class="btn-success-out" href="{{project.requeriments.url}}">Requerimientos</a>
      {% endif %}
      {% if project.chatproject.name %}
      <button class="btn-success">Chat</button>
      {% endif %}
   </div>
</div>
{% endblock content %}