{% extends "base.html" %}
{% block styles %}
<style>
 .container{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: start;
    padding: 4em;
 }
 .content{
    background: white;
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    align-items: start;
    max-width: 1000px;
    position: relative;
    border-radius: .5rem;
 }
 .content h4,h3{
   color: var(--orange);
 }
 .content .header{
    display: inline-block;
    width: 30%;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    height: 90%;
    /* background: pink; */
 }
 .content .header img{
    width: 100%;
    max-width: 150px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
 }
 .content .body{
   display: inline-block;
   width: 100%;
   height: 100%;
   margin-left: 2em;
 }
 .content .header , .body{
   padding: 1em 2em;
   -webkit-box-shadow: 0px 0px 5px 3px rgba(181,181,181,1);
   -moz-box-shadow: 0px 0px 5px 3px rgba(181,181,181,1);
   box-shadow: 0px 0px 5px 3px rgba(181,181,181,1);
 }
 .content .body .title{
   text-align: center;
 }
</style>
{% endblock styles %}
{% block content %}
{% load static %}
<div class="content">
   <div class="body">
      <div class="title">
         <h3>Propuestas <i class="fas fa-lightbulb"></i><h3>
      </div>
      {% for proposal in proposals %}
      <div class="card">
        <h4>este es n titulo</h4>
        <p>Ray</p>
        <p>Un dia</p>
      </div>
      {% endfor %}
      <div class="card">
        <h4>este es n titulo</h4>
        <p>Ray</p>
        <p>Un dia</p>
      </div>
      <div class="card">
        <h4>este es n titulo</h4>
        <p>Ray</p>
        <p>Un dia</p>
      </div>
   </div>
</div>
{% endblock content %}