{% extends "accounts/base.html" %}

{% block head %}
    <title>Unión Digital | Login</title>
{% endblock head %}

{% block content %}
    {% load static %}
    <form  method="POST" action="{% url 'accounts:login' %}" class="form animate__animated animate__zoomIn">
        <img src="{% static 'logos/3.jpg' %}" alt="logo">
        {% csrf_token %}
        <div style="display: block; height: 100px;"></div>
        <input class="form-control" type="text" placeholder="User" name="username" >
        <input class="form-control" type="password" placeholder="Password" name="password">
        <button type="submit" class="form-control btn-success">Login</button>
        <a href="{% url 'accounts:signup' %}" class="form-control btn-success-out">Sign up</a>
    </form>
    {% if form.errors %}
        <p class="alert alert-danger">
            {{form.errors}}
        </p>
    {% endif %}
{% endblock content %}