{% extends "accounts/base.html" %}

{% block head %}
    <title>Unión Digital | Login</title>
{% endblock head %}

{% block content %}
    {% load static %}
    <form  method="POST" action="{% url 'accounts:login' %}" class="form animate__animated animate__zoomIn">
        <img src="{% static 'logos/3.jpg' %}" alt="logo">
        {% csrf_token %}
        <div style="display: block; height: 100px;"></div>
        <input class="form-control" type="text" placeholder="User" name="username" >
        <input class="form-control" type="password" placeholder="Password" name="password">
        <button type="submit" class="form-control btn-success">Login</button>
        <a href="{% url 'accounts:signup' %}" class="form-control btn-success-out">Sign up</a>
    </form>
    {% if form.errors %}
    <div class="message message-error animate__animated animate__slideInRight">
        <div class="header">
            <h4> <i class="fas fa-times"></i> Error</h4>
        </div>
        <div class="body">
            {% if form.username.errors %}
                <p>Usuario:</p>
                <ul>
                {% for error in form.username.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                </ul>
            {% endif %}
    
            {% if form.password.errors %}
                <p>Password:</p>
                <ul>
                {% for error in form.password.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="footer">
            <button class="btn-success">Entiendido</button>
        </div>
    </div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="message message-success animate__animated animate__slideInRight">
                <div class="header">
                    <h4>{{message}}</h4>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}