{% extends "base.html" %}
{% block content %}
<form action="{% url 'accounts:password_change' %}" method="POST" class="form animate__animated animate__zoomIn">
    <i class="fas fa-key"></i>
    {% csrf_token %}
    <input class="form-control" 
        type="password" 
        placeholder="Contraseña Anterior" 
        name="password_old" 
        required>
    <input class="form-control" 
        type="password" 
        placeholder="Nueva Contraseña" 
        name="password_new" 
        required>
    <input class="form-control" 
        type="password" 
        placeholder="Confirmar Contraseña" 
        name="password_confirmation" 
        required>
    <button class="form-control btn-success"  type="submit">Cambiar</button>
</form>
{% if form.errors or error %}
    <div class="message message-error animate__animated animate__slideInDown" id="messageError">
        <div class="header">
            <span><i class="fas fa-exclamation"></i></span> 
        </div>
        <div class="body">
            {% if form.password_old.errors %}
                <p>Contraseña</p>
                <ul>
                {% for error in form.password_old.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if form.password_new.errors %}
                <p>Nueva Contraseña</p>
                <ul>
                {% for error in form.password_new.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if form.password_confirmation.errors %}
                <p>Confirmar Contraseña</p>
                <ul>
                {% for error in form.password_confirmation.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if  form.non_field_errors  %}
                <p>Password Confirmation:</p>
                <ul style="padding: 0;margin:0">
                    <li>{{form.non_field_errors}}</li>
                </ul>
            {% endif %}

            {% if  error  %}
                <ul style="padding: 0;margin:0">
                    <li>{{error}}</li>
                </ul>
            {% endif %}
        </div>
        <div class="footer">
            <button id="close-message-error" >OK</button>
        </div>
    </div>
    <button class="btn-error btn-error-inside-system btn-error-hidde animate__animated" id="open-message-error">
        <i class="far fa-envelope"></i>
    </button> 
    {% endif %}
{% endblock content %}
{% block scripts %}
{% load static %}
<script src="{% static 'js/messageEffect.js' %}"></script>
{% endblock scripts %}