.message{
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    background: var(--light);
    color: var(--dark-alt);
    max-width: 400px;
    padding: .5em 1.5em;
    font-size: 20px;
    -webkit-box-shadow: 0px 6px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 15px 1px rgba(0,0,0,0.75);
}
.message-error-hidde{
    top: -1000px;
}
.message .header span{
    display: block;
    text-align: center;
    margin: 15px 12px;
}
.message span .fa-exclamation{
    border: 2px solid var(--orange);
    padding: .5rem 1rem;
    border-radius: 50%;
    color: var(--orange);
    font-size: 28px;
}
.message .body, .footer{
    padding: .4em;
}
.message p{   
    line-height: 25px;
    margin: 2px;
}
.message ul{
    margin: 0px;
    padding: 5px 15px;
    margin-bottom: 10px;
}
.message ul li{
    list-style: none;
}
.message .footer{
    display: flex;
    justify-content: flex-end;
}
.message .footer button{
    background: var(--orange);
    border: none;
    color: var(--light);
    padding: .5em 3em;
    font-size: 18px;
}
.message .footer button:hover, button:focus, button:active{
    background: var(--light);
    border: 1px solid var(--orange);
    color: var(--orange);
    outline: none;
    cursor: pointer;
}
.btn-error{
    position: fixed;
    width: 90px;
    height: 90px;
    background: none;
    color: var(--light);
    border: 0px;
    bottom: 10px;
    right: 15px;
    font-size: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
.btn-error-inside-system{
    bottom: 70px;
}
.btn-error-hidde{
    bottom: -100px;
}
.btn-error:hover, .btn-error:focus{
    background: none;
    border: none;
    color: var(--orange);
}